@import url(//fonts.googleapis.com/css?family=Roboto);

// Variables

$color-dark: rgb(50,50,50);
$color-very-light: rgb(222,222,222);
$color-primary: #f1983c;

// Layout

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	background-color: white;
}

.app {
	
}

.banner {
	background-image: url('../images/background.jpg');
	background-position: center;
	background-size: cover;
	min-height: 9rem;
	height: 9rem;
	position: relative;
	padding-left: 1.25rem;
	display: block;
	
	&__content {
		position: absolute;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);
	}
	
	&__header {
		font-size: 2.5rem;
        color: $color-dark;
	}
	
	&__paragraph {
		display: block;
		font-size: 1rem;
	}
}

.chat {
    
    
    &__container {
        padding: 1.5rem 2.25rem 0.5rem;
    }
}

#msgArea {
	
}

.msg__input {
    display: inline-block;
}

.msg__color {
    display: inline-block;
	height: 2.5rem;
}

.msg__send {
    border: none;
    background-color: $color-primary !important;
	font-weight: 700;
	letter-spacing: 1px;
}


.msg {
	display: block;
}